<div class="container">
  <div class="container__add-button">
    <a routerLink="/courses/create">
      <button color="primary" mat-raised-button>
        Adicionar Módulo
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </div>
  <div class="grid">
    <div class="grid__course">
      <mat-card class="card">
        <div class="header">
          <mat-card-header>
            <mat-card-title>Nome do módulo aqui</mat-card-title>
          </mat-card-header>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Apagar</span>
            </button>
          </mat-menu>
        </div>
        <mat-card-content>
          Descrição aqui
        </mat-card-content>
        <mat-card-actions>
          <button color="primary" mat-raised-button>Ver detalhes</button>
          <button mat-raised-button>Editar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="floating-button">
  <a>
    <button mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </a>
</div>